@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Montserrat:wght@400;600;800&display=swap');

:root{
    --transition: all 1s ease-in-out;
    --darkblue-color: rgba(31,52,79,255);
    --light-color: #fff;
    --mustard-color: #937e18; 
    --light-background: rgb(244, 241, 241);   
}


body {
    transition: 0.3s;
    margin: 0;
    padding: 0;
    background-color: var(--light-background);
    font-family: 'Montserrat', sans-serif;
    color:rgb(57, 57, 57);
  }
  
h1 {
    font-size: 50px;
    line-height: 70px;
    font-weight: 800;
    margin: 10px 0;
  }

h2 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 600;
    margin: 10px 0;
  }

p {
    margin: 0px;
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
    text-justify: inter-word;
    
}

ul{
    list-style-type: none;
}

a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    font-weight: 100;
}

.dark a {
    color: var(--light-color);
}
  

header {
    display: flex;
    justify-content: flex-end;
    padding: 30px;
}

.social-links{
    display: flex;
    margin-top: 3.5rem;
    position: relative;
    justify-content: flex-start;
    margin-top: 10px;
    right: 5vh;
}

.social-links li a{
    width: 40px;
    height: 40px;
    background-color: var(--light-background);
    margin-right: 1rem;
    /* border-radius: .3rem;
    box-shadow: 0 0 6px 5px rgba(0, 0, 0, 0.2); */
    transition: var(--transition);
}

.social-links li a:hover{
    transform: scale(0.5) translateY(-15px);

}

.dark .social-links li a {
    background-color: var(--darkblue-color);
    filter: invert(1);
    
}

/* #hover-socials:hover{
    transform: scale(1.2);
} */

.mplogo{
    position: relative;
    width: 50%;
    height: 350px;
    background: url('img/marca\ protegida\ 1-04.png');
    background-repeat: no-repeat;
    background-size: 350px;
    background-position: center;
    top: 40px;
    display: block;
    margin-bottom: 100px;
    /* border-radius: 20px;
    margin: 3rem;
    top: 25vh;
    right: 5vh; */
}

.switch {
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(54, 56, 54);
    position: relative;
}

.btn-down {
    transition: all 1s ease-in-out;
}
/* Dark theme and toggle *********************************/

.flicker {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: white;
    position: absolute;
    transition: 0.5s;
    top: 5px;
    left: 5px;
    box-shadow: 
        inset 4px 4px 4px rgb(255, 255, 255),
        inset -4px -4px -4px rgb(195 193 198 /90%);
}

.dark {
    background-color: var(--darkblue-color);   
    transition: 0.5s; 
}

.moon {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 0 0 rgb(255, 255, 255);
    position: absolute;
    top: 5px;
    left: 45px;
}

.dark .flicker {
    transform: translateX(40px);
}

.dark >* {
    color: white;
}

.main {
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.main-text {
    padding: 30px;
    margin-bottom: 100px;
  }

/* squares *********************************/
.square {
    width: 98%;
    margin: 1%;
    height: 350px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.dark .square {
    background-color: rgb(17, 17, 17);
}


.sub-section {
    display: flex;
    flex-wrap: wrap;
}

#servicios {
    background-image: url(/img/legaldocuments.jpeg);
    background-size: cover;
}

footer {
    display: flex;
    justify-content: center;
    padding: 100px 30px;
    background-color: grey;
    transition: 0.5s;
}

.dark footer {
    background-color: rgb(4, 4, 4);
}






/* media query ***********************************/

@media only screen and (min-width: 970px) {
    .main-text {
        width: 50%;
    }
    .square {
        width: 48%;
        margin: 1%;
        height: 600px;
    }
    
}

@media only screen and (max-width: 1300px) {
    .mplogo {
        display: none;
    }
}